.null-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    padding: 1rem;
    background-color: #000;
    z-index: 9;
    overflow-y: scroll;
}

.null-container.hide {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease-in-out;
}

.null-container.show {
    opacity: 1;
    pointer-events: all;
    transition: opacity 0.4s ease-in-out;
}

.close-button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.close-button-container img {
    margin-right: 4rem;
    cursor: pointer;
    transform: scale(1.3);
}

.null-container .video-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.null-container .video-container .video-player {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 185px !important;
}

.null-container .video-container iframe {
    width: 90vw !important;
    height: 100% !important;
}

.null-container .copy-content {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.null-container .copy-content .title-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 90vw;
    flex-direction: column;
}

.null-container .copy-content .title-container h1 {
    margin-top: 0;
    margin-bottom: 0;
}

.null-container .copy-content .description-container {
    width: 90vw;
}

.media-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
    width: 90vw;
    margin-top: 7rem;
    margin-bottom: 5rem;
}

.media-container .image {
    max-width: 100%;
    height: auto;
}
