.landing-column {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-family: 'Gian';
        font-size: xxx-large;
        text-transform: uppercase;
        margin-bottom: 0;
        position: relative;
    }

    p {
        font-family: Helvetica;
        text-transform: uppercase;
        margin-top: 0;
    }

    .null, .infinite, .e_go {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.segmentation-block {
    max-height: 200px;
    max-width: 1px;
    height: 200px;
    width: 1px;
    border-left: dashed 3px #fff; 
}

.e_go.portal {
    cursor: pointer;

    h1, p {
        position: relative;
        z-index: 1;
    }
    .video-bg-container {
        position: absolute; 
        transform: scale(0.1);
        translate: 0 -42%;
    }
}

.infinite.portal {
    cursor: pointer;

    h1, p {
        position: relative;
        z-index: 1;
    }
    .video-bg-container {
        position: absolute; 
        transform: scale(0.14);
        translate: 0 -42%;
    }
}

.null.portal {
    cursor: pointer;
    
    h1, p {
        position: relative;
        z-index: 1;
    }
    .video-bg-container {
        position: absolute; 
        transform: scale(0.1);
        translate: 0 -42%;
    }
}