@font-face {
    font-family: 'Gian';
    src: url(../src/Assets/Giane-Light.otf);
}

body, html {
    padding: 0;
    margin: 0;
    background-color: #000;
    height: auto;
    width: 100vw;
}

h1, p {
    color: #fff;
}

h1 {
    font-family: 'Gian';
    text-transform: uppercase;
}

p {
    font-family: 'Helvetica';
    font-weight: lighter;
    opacity: 0.85;
}